<section class="section">

  <p class="subtitle is-size-3">
        <div>
            <form action="/charge" method="post">
              <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="{{ key }}"
                data-description="A Flask Charge"
                data-amount="2500"
                data-locale="auto">
              </script>
            </form>
              <h1>Pay $25/month to try our Face Recognition based Id. & Attendance Management Subscription Service !!</h1>
        </div>
        <div>
            <br><br><br>
            <h1> Thank you for contacting FaceRek. </h1><br>
            <h2> Please reach us at facerek@gmail.com !!</h2>
        </div>
  </p>

</section>
