<section class="section">

  <p class="subtitle is-size-3">
        <div>
            <br><br>
            <b>OUR SERVICES</b><br><br>
            FaceRek cloud based technology assures system performance and reliability with live face detection and fast face matching. Our Facial Recognition is ideally suited for human resource control applications as well as for Identity and Attendance Management applications.<br><BR>

            <b>HIGHLIGHTS:</b><br><br>
            <li style="PADDING-LEFT: 30px">Cloud based system for easy pay-as-you-go use<br><br></li>
            <li style="PADDING-LEFT: 30px">Easy to use User Interface for setup, monitoring and data retrieval<br><br></li>
            <li style="PADDING-LEFT: 30px">Multitude of IP and analog cameras supported<br></li>

            <br><b>FEATURES:</b><br><br>
                <li style="PADDING-LEFT: 30px">Quick and convenient face search and browsing<br><br></li>
                <li style="PADDING-LEFT: 30px">Storing recognized face images in the database<br><br></li>
                <li style="PADDING-LEFT: 30px">Very simple to install and configure<br><br></li>
                <li style="PADDING-LEFT: 30px">Easy to integrate with third party Biometric system through available API interface</li>

        </div>
  </p>

</section>
