{% extends "base.html" %}

{% block content %}

<section class="section">
  <p class="subtitle is-size-3">
        <div>
          <br><br>
          <b>PAYMENT DONE</b>
          <br><br>
<!--          Thanks, you have successfully paid <strong>${{ amount/100 }} </strong> for your monthly subscription  -->

          Thanks, you have successfully paid for your monthly subscription!
	  <br><br>
          Someone from our team will get in touch with you shortly.
        </div>
  </p>
</section>

{% endblock %}